<!DOCTYPE html>
<html>
<head>
    <title>AI FAQ Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>AI/ML FAQ Chatbot</h1>

    <div id="chat-box"></div>

    <div class="input-area">
        <input type="text" id="message" placeholder="Ask something about AI or ML">

        <button onclick="sendMessage()">Send</button>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
